WWWUSER=1000
WWWGROUP=1000
APP_PORT=80
VITE_PORT=5173
FORWARD_MAILPIT_PORT=1025
FORWARD_MAILPIT_DASHBOARD_PORT=8025
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=EmailManager
DB_USERNAME=postgres
DB_PASSWORD=
APP_ENV=local
APP_DEBUG=true
APP_KEY=base64:9/
LOG_CHANNEL=
LOG_LEVEL=debug
MAILBOX_HOST=imap.gmail.com
MAILBOX_PORT=993
MAILBOX_ENCRYPTION=ssl
MAILBOX_USERNAME=yourname@gmail.com
MAILBOX_PASSWORD=qlgg_rlky_mqij_jgok
QUEUE_CONNECTION=database
CACHE_STORE=file
OLLAMA_BASE_URL=http://ollama:11434
OLLAMA_MODEL=phi 